
body {
    padding-bottom: 20px;
    font-family: 'Montaga', serif!important;
}
.navbar-nav{
    font-size: 12px;
}
.body-content {

}
.content{
    margin-top: 50px;
}
.nav > li > a:hover{
    background: none!important;
}
input,
select,
textarea {
    max-width: 280px;
}
.section{
    position: relative;
}
.navbar{
    background: #000;
}
.navbar a{
    color: #fff;
}
.front.jumbotron{
    color: #fff;
    background: none;
}
#box-find-ride, #box-offer-ride{
    position:absolute;
    bottom: 150px;
}
#box-find-ride{
    left: 0;
}
#box-offer-ride{
    right: 0;
}
#home{
    height: 775px;
    background-image:url(/images/front-image.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
#about, #contact{
    padding-top: 25px;
    font-size: 1.7em;
}
#about h2, #contact h2{
    font-size: 2em;
}
.navbar-toggle .icon-bar{
    background-color: #fff;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}
@media screen and (max-width: 980px){
    #box-find-ride, #box-offer-ride{
        bottom: 40%;
        
    }
}
