
body {
    padding-bottom: 20px;
    font-family: 'Montaga', serif!important;
}
.navbar-nav{
    font-size: 12px;
}
.body-content {
}
input,
select,
textarea {
    max-width: 280px;
}
.section{
    position: relative;
}
.navbar{
    background: #000;
}
.navbar a{
    color: #fff;
}
.front.jumbotron{
    color: #fff;
    background: none;
}
#box-find-ride, #box-offer-ride{
    position:absolute;
    bottom: 30%;
}
#box-find-ride{
    left: 0;
}
#box-offer-ride{
    right: 0;
}
#home{
    height: 920px;
    background-image:url(/images/front-image.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}
@media screen and (max-width: 980px){
    #box-find-ride, #box-offer-ride{
        position: relative;
        
    }
}
